# CONSTRAINTS SPARTAN 3AN

# soldered 50MHz Clock.
NET "clk" LOC = "C9" | IOSTANDARD = LVTTL;
NET "clk" PERIOD = 20.0ns HIGH 50%;

NET "E" LOC = "M18" |  IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;
NET "RS" LOC = "L18" |  IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;
NET "RW" LOC = "L17" |  IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;
NET "SF_CE0" LOC = "D16" |  IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;
# The LCD four-bit data interface is shared with the StrataFlash.
NET "DB<0>" LOC = "R15" |  IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;
NET "DB<1>" LOC = "R16" |  IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;
NET "DB<2>" LOC = "P17" |  IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;
NET "DB<3>" LOC = "M15" |  IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 2;

NET "reset" LOC = "H13" | IOSTANDARD = LVTTL | PULLDOWN ;
#NET "reset" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;

#NET "min" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
#NET "hor" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;

NET "min" LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "hor" LOC = "D18" | IOSTANDARD = LVTTL | PULLDOWN ;